<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#DB0000"/>
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
  <header class="app-bar">
  <a href="#mainContent" class="skip-link">skip to content</a>
  <nav>
    <div class="app-bar__brand">
      <a href="index.html" tabindex="0">Kafe Monokrom</a>
    </div>
    <ul id="menu">
      <li><a href="#/home" tabindex="0">Home</a></li>
      <li><a href="#/like" tabindex="0">Favoritess</a></li>
      <li><a href="https://www.instagram.com/eldy_kvlk/" tabindex="0">About Us</a></li>
    </ul>
      <div class="app-bar__menu">
    <button id="hamburger" href="#">☰</button>
      </div>
  </nav>

  <nav id="drawer" class="app-bar__navigation">
    <ul>
      <li><a href="#/home" tabindex="-1">Home</a></li>
      <li><a href="#/like" tabindex="-1">Favorite</a></li>
      <li><a href="https://www.instagram.com/eldy_kvlk/" tabindex="-1">About Us</a></li>
    </ul>
  </nav>
  </header>
  <main id="mainContent" tabindex="0">
   <picture>
     <source media="(max-width: 600px)" srcset="./images/heros/hero-image_1-small.jpg">    
    <img class="hero" src="./images/heros/hero-image_1-large.jpg" alt="gambar utama" tabindex="0">
  </picture>
    <h3 id="konten" tabindex="0">INFORMASI KAFE</h3>
    <div id="resto" class="restaurant"></div>
  </main>
       

  <footer>
    <p tabindex="0">&copy; 2023 - Kafe Monokrom - Eldy Effendi</p>
  </footer>

</body>

</html>
